body {
    background-color: #e5e4e2; 
    font-family: monospace; 
}
li { 
    list-style-type: square;
}

#name { 
    color: black; 
}

.black { 
    color: black; 
}
.bold { 
    font-weight: bold; 
}
.bordered { 
    border-width: medium; 
    border-style: ridge; 
}
.centered { 
    text-align: center; 
}
.large { 
    font-size: large; 
}
.left { 
    text-align: left; 
}
.section { 
    text-align: center; 
}
.xx-large {
    font-size: xx-large;
}

.section p, .section ul { 
    margin: 2%; 
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
    .section { 
        left: 0%; 
        position: relative; 
        width: 100%; 
    }
}

/* Desktop */
@media only screen and (min-width: 601px) {
    .section { 
        left: 25%; 
        position: relative; 
        width: 50%; 
    }
}
