body { background-color: #e5e4e2; font-family: monospace; }

li { list-style-type: square; }

.header { border-width: medium; border-style: ridge; text-align: center; }

.section { left: 25%; position: relative; width: 50%; }

.section p, .section ul { margin: 2%; }

#about_header { color: #000080; }

#funstuff_header { color: #551a8b; }

#interests_header { color: #006400; }

#links { text-align: center; }

#name { color: #035096; text-align: center; }

#projects_header { color: #c21e56; }

#ta_header { color: #daa520; }
